body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9318, #2a5298);
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}


p {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
}


.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 130px; /* Adjust size */
    height: 130px;
    border-radius: 50%; /* Make it circular */
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}

